@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #A3B18A; /* #ff7f00 */;
  --color-secondary: #F2D0C4; /* #c9bd5f; */
  --color-accent: #E4B363;
  --color-neutral-light: #F9F8F4; /* #eae5c3 */;
  --color-neutral-dark: #2D3142 /* #eae5c3; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-neutral-light text-neutral-dark;
  font-family: var(--font-inter);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair);
}
